@use "../../App.scss" as V;
.HistoryCardContainer{
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    background-color: white;
    box-shadow: 1px 1px 1px 1px black ;
    padding: 30px 15px 15px 15px;
    border-radius: 10px;
    

    ul{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        text-align: center;
        gap: 20px;
        position: relative;
        .alert_estado{
            position: absolute;
            right: -35px;
            top: -33px;
            padding: 2px 25px 2px 25px;
            font-weight: 600;
            border-radius: 10px;
        }
        .viajo{
            background-color: V.$primary;
        }
        .noViajo{
            background-color: V.$terceary;
        }
        .vendido{
            background-color: V.$secundary;
        }
        .anulado{
            background-color: rgb(255, 255, 84);
        }
        h3{
            color: V.$Csub;
        }
        span{
            color: V.$Ctext;
            font-weight: 700;
        }
        li{
            list-style: none;
            &:nth-last-child(1){
                grid-column-start: 1;
                grid-column-end: 3;
            }
        }
        
    }
}
.HistoryCardContainerModal{
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    background-color: rgba(0, 0, 0, 0.518);
    top: 0;
    left: 0;
    
}