.navbar{
    background-color: black;
    width: 100%;
    .nav_content{
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        align-self: center;
        height: 30px;
        .i_menu{
            display: flex;
            align-items: center;
            align-self: center;
            color: white;
        }
        .log_teletequite{
            display: flex;
            align-items: center;
            align-self: center;
            img{
                width: 100px;
            }
        }
    }
}