@use "../../App.scss" as V ;

.BusSteaps_container{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: scroll;
    min-height: 275px;
    padding-top: 18px;

    .steps{
        display: contents;
    }
    .StepsContainer{
        width: 95vw;
        height: 96vh;
        background-color: white;
        display: flex;
        flex-direction: column;
        max-width: 1600px;
        max-height: 1080px;
        min-height: 600px;
    }
}