@use "../../App.scss" as V ;

.BusSteaps_container{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 100%;
    height: 100%;

    .steps{
        display: contents;
    }
    .StepsContainer{
        width: 95vw;
        height: 96vh;
        background-color: white;
        display: flex;
        flex-direction: column;
        max-width: 1600px;
        max-height: 1080px;
    }
}