@use "../../App.scss" as V;
.section_history{
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    background: url("../../Resources/Imgs/wave.svg");
    background-repeat: no-repeat;
    background-size: cover;
    nav{
        width: 100vw;
    }
    .history_container{
        width: 100vw;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, auto));
        justify-content: center;
        height: 100%;
        .user_history{
            display: flex;
            justify-content: center;
            align-items: center;
            align-self: center;
            gap: 30px;
            border-bottom: 10px solid transparent;
            border-image: V.$gradiant;
            border-image-slice: 1;
            padding-bottom: 10px;
            margin: 20px 30px 0px 30px;
            max-width: 400px;
            flex-wrap: wrap;
            .user_history_icon{
                font-size: 5rem;
                display: flex;
                justify-content: center;
                align-items: center;
                align-self: center;
                color: V.$secundary;
                background-color: black;
                border-radius: 50%;
            }
            .user_History_information{
                li{
                    list-style: none;
                    h2{
                        color: V.$Csub;
                        font-size: 1.4rem;
                    }
                    span{
                        color: V.$Ctext;
                    }
    
                }
            }
        }
        .filter_history{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            flex-direction: column;
            h2{
                margin-bottom: 10px;
                margin-top: 10px;
            }
            span{
                font-weight: 600;
            }
            ul{
                display: flex;
                justify-content: center;
                align-items: center;
                align-self: center;
                width: 100%;
                gap: 40px;
                li{
                    gap: 5px;
                    list-style: none;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    select{
                        border: 2px solid black;
                        outline: 0;
                        padding: 6px;
                        border-radius: 10px;
                        &:focus{
                            outline: none;
                        }
    
                    }
                    input{
                        border: none;
                        border-bottom: 3px solid transparent;
                        border-image: V.$gradiant;
                        border-image-slice: 1;
                        &:focus{
                            outline: none;
                        }
                        &[type="date"]::-webkit-calendar-picker-indicator {
                            margin-left: -10px;
                            font-size: 20px;
                          }
                    }
                    
                }
            }
        }
        .history{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            align-self: center;
            gap: 30px;
            overflow-y: scroll;
            height: 60vh;
            padding: 20px 0px 20px 0px;
            scroll-behavior: smooth;
            &::-webkit-scrollbar{
                display:none;
            }
        }
    }
}

@media (min-width:900px){
    .section_history{
        justify-content: center;
        gap: 100px !important;;
        .history_container{
            display: flex;
            justify-content: center !important;
            align-items: center !important;
            gap: 159px;
            .user_history{
                display: flex;
                align-self: flex-start !important;
                background-color: rgba(255, 255, 255, 0.682);
                padding: 15px;
                border-radius: 20px;
                backdrop-filter: blur(20px);
                width: 50%;
                
            }
            .history{
                width: 50% !important;
                display: grid !important;
                grid-template-columns: repeat(auto-fit, minmax(300px, auto)) !important;
                align-self: flex-start !important;
                height: 70vh !important;
                justify-content: center;
            }
        }
        
        
    }
}